<!-- This is just a placeholder. Feel free to do here whatever you would like to. -->
<h1>Search for customers:</h1>
<div>
  <form (submit)="executeSearch($event)">
    <input type="search" placeholder="Search..." [(ngModel)]="searchQuery" name="search" />
    <input type="submit" value="Search" />
    <input type="button" value="Clear" (click)="clearSearch()" />
  </form>

  <div *ngIf="loading">Searching ...</div>
  <div *ngIf="error">{{ error }}</div>
  <div *ngIf="loaded && !loading && !items.length">
    No results found.
  </div>
</div>
<div *ngIf="items.length">
  <ul>
    <li *ngFor="let item of items; trackBy: trackByFn">
      {{ typeVisual(item.type) }} <strong>{{ item.name }}</strong> {{ item.code }}
    </li>
  </ul>
  <button>Save</button>
</div>

<ng-template ></ng-template>
